
@charset "ISO-8859-1";

.form_container{
	font-style: Sans-Serif;
	padding: 10% 10% 10% 30%;
}

form input[type=text],[type=password],[type=email],[type=tel], [type=date]{
  width: 70%; 
  padding:5px;
  border-radius:3px;
  margin-top:40px;
  font-size: 15px;
  color:black;
  border: 1px solid grey;
  background: white;
  align-content: center;
}


fieldset{
  border-radius:30px;
  color:white;
  border: 15px solid #E5BE01;
  font-style: Sans-Serif;
  text-align: center;
  width: 500px;
  background-image: linear-gradient(to top, #FFFFFF 100%, #061737 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

legend{
	font-size: 25px;
	font-weight: bold;
	background-color: #ff4461;
	border-radius:20px;
	color: white;
	border: 15px solid #ff4461;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}



::placeholder{
	text-align:left;
	font-size: 15px;
}


form input[type=submit],[type=reset]{
  background:#ff4461;
  border: 3px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 25px;
  margin-top:40px;
}

form input[type=submit]:hover{
	opacity: 0.5;;
}




textarea{
	margin-top:40px;
	border-radius: 3px;
}

