@charset "ISO-8859-1";

.catalog{
  display: block;
  width: 100%;
  margin: 1em 0;
}

.catalog td, .catalog th{
	display: block;
}

.dcatalog tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
}

.catalog td, .catalog th {
  padding: .625em;
  line-height: 1.5em;
  border-bottom: 1px dashed #ccc;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}


.catalog th {
  text-align: left;
  background: rgba(0, 0, 0, 0.14);
  border-bottom: 1px dashed #aaa;
}