@charset "ISO-8859-1";

a.post{
	color:black;
}

a.bottoneaggiungi{
	text-decoration:none;
border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  display:inline;
  border-radius:2px;
  margin-bottom: 50px;
}

a.bottoneaggiungi:hover{
	opacity:0.3;
}

.nessunlibro{
	font-size:50px;
	margin:20%;
	position:relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  display:inline-block;
  max-width:200px;
  margin-top:5%;
  margin-left:20px;
  padding-top: 5%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:20px;
  background-color:white;
  border-radius:30px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  display:inline;
}

.bottoneaggiungi{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  display:inline;
  text-decoration: none;
}

a:hover{
	opacity: 0.7;
}
.bottoneaggiungi :hover{
	 opacity: 0.7;
}

form input[type=submit]{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  display:inline;
  border-radius:2px;
}


.card button:hover {
  opacity: 0.7;
}

.container{
	text-align:center;
	margin-bottom:50px;
}

p{
	width:100%;
}

.titolo {
	text-align: center;
}
