@charset "ISO-8859-1";


.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E5BE01;
  color: black;
  text-align: center;
  display: flex;
  font-family: sans-serif;
}


footer ul{
	padding: 0px 50px 20px 10px;
	margin-left: 10%;
}

.copy{
  position: relative;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 7px;
}

body{
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	background-image: linear-gradient(to top, #f7e89f 45%, #F8F32B 55%);
	background-attachment: fixed;
  background-repeat: no-repeat;
}

