@charset "ISO-8859-1";

body{
	margin:0;
	font-family : sans-serif;
	background-color: #829bb0;
}

header {
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
  	background-color: #E5BE01;
	padding: 20px;
  	font-size: 20px;
  	color: black;
}

header h1{
  display:inline;
  margin-left:20px;
  position: relative;

}

img.logo{
	margin:0;
	padding:0;
	height:2%;
	width:2%;
}