@charset "ISO-8859-1";




div.boxsearch{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

/* Style the search field */
form.searchbar input[type=text] {
	border-radius:20px 0px 0px 20px;
  padding: 10px;
  font-size: 17px;
  color:black;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
}

.searchbar button {
	border-radius:0px 20px 20px 0px;
  float: left;
  width: 15%;
  padding: 10px;
  background: #ff4461;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}


form.searchbar button:hover {
  background: #ff9900;
}

/* Clear floats */
form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}


.hi_user{
	width:13%;
	text-align: center;
	
}
.hi_user fieldset{
	margin:40px;
	color: black;
	border-radius: 10px;
	border: 3px solid #ff4461;
	background-color: white;
	width:auto;
	font-style: sans-serif;
}

.container {
	margin-left:35%;
	margin-top: 5%;
	margin-bottom:20%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  max-width:200px;
  margin-top:5%;
  margin-left:20px;
  padding-top: 5%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:20px;
  background-color:white;
  border-radius:30px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  display:inline;
}

.card input[type=submit]{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  display:inline;
}