@charset "ISO-8859-1";


/* Add a black background color to the top navigation */
.topnav {
  margin-top:0px;
  background-color: #ff4461;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 18px 8%;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff9900;
  color: white;
  opacity: 0.7;
}

div.boxsearch{
	margin-top:30px;
	margin-left:30%;
	margin-right:30%;
}

/* Style the search field */
form.searchbar input[type=text] {
	border-radius:20px 0px 0px 20px;
  padding: 10px;
  font-size: 17px;
  color:black;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
}

form.searchbar button {
	border-radius:0px 20px 20px 0px;
  float: left;
  width: 15%;
  padding: 10px;
  background: #ff4461;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}


form.searchbar button:hover {
  background: #ff9900;
}

/* Clear floats */
form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}

