@charset "ISO-8859-1";



#demo{
	margin: 10%;
}


fieldset{
  border-radius:30px;
  color:black;
  border: 15px solid #E5BE01;
  font-style: Sans-Serif;
  text-align: center;
  background-image: linear-gradient(to top, #FFFFFF 100%, #061737 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

legend{
	font-size: 25px;
	font-weight: bold;
	background-color: #ff4461;
	border-radius:20px;
	color: white;
	border: 15px solid #ff4461;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	
}

button{
	  background:#ff4461;
  border: 3px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 25px;
  margin-top:40px;
  margin-bottom: 20px;
}