@charset "ISO-8859-1";

body {
	font-family : sans-serif;
	background-color: #829bb0;
}

header {
  background-color:#061737;
  padding: 20px;
  font-size: 25px;
  color: white;
}

header h1{
	display:inline;
	margin-left:20px;
  position: relative;
}

img.logo{
	margin:0;
	padding:0;
	height:5%;
	width:5%;
}

.searchbox{
	border-radius:20px 20px 20px 20px;
	background-color: #061737;
  	overflow: hidden;
  	margin-top:5%;
	margin-right:20%;
	margin-left:20%;
}

div h1{
	padding-top:20px;
	padding-left:20px;
	padding-bottom:0px;
	color:white;
}

.registra{
	display: flex;
	flex-flow: row wrap;
  align-items: center;
  float: left;
  color: #f2f2f2;
  padding-top:10px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

fieldset{
	padding-top:20px;
	margin-left:260px;
	margin-bottom:40px;
}

span{
	margin-left:5px;
}

form input[type=text],[type=password],[type=email]{
	padding:2px;
	display:inline;
	border-radius:10px;
	margin-left:20px;
  font-size: 17px;
  color:white;
  border: 1px solid grey;
  background: #061737;
}

form input[type=submit],[type=reset]{
	background:#a4b7c6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

h1.invio{
	
	padding-top:0px;
	margin-top:0px;
	margin-left:280px;
}

a:link, a:visited {
  background-color: #829bb0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #a4b7c6;
}


h1.login{
	padding-top:30px;
}