@charset "ISO-8859-1";



.searchbox{
	display:block;
	border-radius: 30px;
	border: 15px solid #E5BE01;
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	background-image: linear-gradient(to top, #FFFFFF 100%, #061737 100%);
	background-attachment: fixed;
 	background-repeat: no-repeat;
  	overflow: hidden;
  	margin-top:5%;
	margin-right:20%;
	margin-left:20%;
	margin-bottom:5%;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	font-style: sans-serif;
}



div h1{
	text-align:center;
	padding-top:20px;
	padding-bottom:0px;
	color:black;
}

.form_container{
	display:block;
	align-content:center;
}

.registra{
	width:100%;
  display: table;
  align-items: center;
  color: #f2f2f2;
  padding-top:10px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

fieldset{
	margin:40px;
	color: black;
	border-radius: 30px;
	border: 8px solid #E5BE01;
	
}

::placeholder{
	text-align:center;
}

.message{
	margin-top:20px;
}

form input[type=text],[type=password],[type=email],[type=tel]{
	width:70%;
	padding:2px;
	border-radius:3px;
	margin-top:20px;
  font-size: 17px;
  color: black;
  border: 1px solid grey;
  background: white;
}

h1.invio{
	
	padding-top:0px;
	margin-top:0px;
}

a:link, a:visited {
  background-color: #ff9900;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: #ff4461;
}


h1.login{
	padding-top:30px;

}

a.bottone{
	background-color: #ff4461;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top:15px;
}

a.bottone:hover{
	opacity:0.5;
}

