<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>uniwarehouse</display-name>
  <welcome-file-list>
    <welcome-file>sign_up.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/uniwarehouse</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>control.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/control/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Annunci_Utente</servlet-name>
    <servlet-class>control.Annunci_Utente</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Annunci_Utente</servlet-name>
  	<url-pattern>/control/Annunci_Utente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Annuncio_Servlet</servlet-name>
    <servlet-class>control.Annuncio_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Annuncio_Servlet</servlet-name>
  	<url-pattern>/control/Annuncio_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Catalogo_Homepage</servlet-name>
    <servlet-class>control.Catalogo_Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Catalogo_Homepage</servlet-name>
  	<url-pattern>/control/Catalogo_Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cerca_Servlet</servlet-name>
    <servlet-class>control.Cerca_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Cerca_Servlet</servlet-name>
  	<url-pattern>/control/Cerca_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filtro_Servlet</servlet-name>
    <servlet-class>control.Filtro_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Filtro_Servlet</servlet-name>
  	<url-pattern>/control/Filtro_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getPictureServlet</servlet-name>
    <servlet-class>control.getPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getPictureServlet</servlet-name>
  	<url-pattern>/control/getPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/control/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout_Servlet</servlet-name>
    <servlet-class>control.Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout_Servlet</servlet-name>
  	<url-pattern>/control/Logout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modifica_Annuncio</servlet-name>
    <servlet-class>control.Modifica_Annuncio</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Modifica_Annuncio</servlet-name>
  	<url-pattern>/control/Modifica_Annuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modifica_Password</servlet-name>
    <servlet-class>control.Modifica_Password</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Modifica_Password</servlet-name>
  	<url-pattern>/control/Modifica_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>control.ProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductControl</servlet-name>
  	<url-pattern>/control/ProductControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rimuovi_Annuncio</servlet-name>
    <servlet-class>control.Rimuovi_Annuncio</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Rimuovi_Annuncio</servlet-name>
  	<url-pattern>/control/Rimuovi_Annuncio</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPages/notFound.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPages/ServerError.html</location>
  </error-page>
</web-app>